/* 初始化 */
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style-type: none;
}
.logo {
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
}
.logo-layout {
  position: relative;
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.logo-left {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 515px;
  height: 35px;
  /* border: 1px solid red; */
}
.logo-left .a1 {
  position: absolute;
  top: 4px;
  left: 2px;
  color: #919191;
}
.logo-left ul {
  position: absolute;
  top: 11px;
  left: 232px;
  width: 268px;
  height: 35px;
  /* border: 1px solid green; */
}
.logo-left ul > li {
  float: left;
  color: #919191;
  /* border: 1px solid red; */
}
.logo-left ul .li1 {
  position: absolute;
  top: -6px;
  left: 5px;
  width: 120px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-left: 1px solid #919191;
}
.li1 a {
  color: #919191;
}

.li1:hover .li1-a1 > span,
.net-nav {
  color: red;
}
.logo-left ul .li2 {
  position: absolute;
  top: -4px;
  right: 10px;
  width: 120px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.li2 a {
  color: #919191;
}
.li2:hover .li2 > a > span {
  color: red;
}
.jiantou {
  position: absolute;
  top: 5px;
  right: 11px;
  width: 9px;
  height: 9px;
  background: url(images/tools1200_sprite.png) no-repeat -0px -35px;
}
/* 网站导航-二级导航 */
.li1 dl {
  position: relative;
  top: 4px;
  left: -2px;
  width: 340px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  /* 定死盒子 */
  box-sizing: border-box;
  /* 隐藏 */
  display: none;
}
.li1:hover dl {
  /* 显示 */
  display: block;
  z-index: 2;
}
.li1 dl dd {
  float: left;
  text-align: center;
  width: 160px;
  height: 40px;
  line-height: 40px;
}
.li1:hover p {
  color: red;
}
.li2:hover a {
  color: red;
}
.li1 > dl > dd:hover a {
  color: red;
}
.logo-layout ol {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 635px;
  height: 22px;
  /* border: 1px solid red; */
}
.logo-layout ol > li {
  /* position: absolute; */
  width: 78px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-right: 1px solid #919191;
  float: left;
}
.logo-layout ol > li a {
  color: #919191;
}
.logo-layout ol > li a:hover {
  color: red;
}
.divshow {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #ccc;
  top: 30px;
}
.logo-layout ol > li:hover .divshow {
  display: block;
  z-index: 999;
}
.divshow dl dd a:hover {
  color: red;
}
.hdiv {
  left: 230px;
  width: 15%;
}
.hdiv2 {
  left: 390px;
  width: 15%;
}
.pay {
  padding: 15px;
  width: 450px;
  left: 50%;
  margin-left: -240px;
}
.pay-dl {
  width: 450px;
  overflow: hidden;
}
.pay-dl dd {
  float: left;
  width: 100px;
  padding: 0 5px;
  margin-left: -1px;
  border-left: 1px dashed #e9e9e9;
  height: 126px;
}
.pay-title {
  line-height: 26px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  padding: 0 10px;
}
.pay-title:nth-child(1) {
  padding-left: 0px;
}
.pay-head {
  line-height: 24px;
}
.jiaofei:hover .divshow {
  display: block;
  z-index: 5;
}
.pay-head a {
  font-size: 14px;
  color: #919191;
}
.logo-layout ol li:nth-child(1) {
  border-right: 1px solid transparent;
}
.logo-layout ol > li .denglu-img {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: url(images/tools1200_sprite.png) no-repeat 0px -14px;
}
.ol-jiantou11 {
  position: absolute;
  left: 309px;
  top: 5px;
  width: 9px;
  height: 9px;
  background: url(images/tools1200_sprite.png) no-repeat -0px -35px;
}
.ol-jiantou12 {
  position: absolute;
  left: 387px;
  top: 5px;
  width: 9px;
  height: 9px;
  background: url(images/tools1200_sprite.png) no-repeat -0px -35px;
}
.ol-jiantou13 {
  position: absolute;
  right: 160px;
  top: 5px;
  width: 9px;
  height: 9px;
  background: url(images/tools1200_sprite.png) no-repeat -0px -35px;
}
.ol-jiantou14 {
  position: absolute;
  right: 81px;
  top: 5px;
  width: 9px;
  height: 9px;
  background: url(images/tools1200_sprite.png) no-repeat -0px -35px;
}
.logo-layout ol li:hover a {
  /* color: red; */
  background-color: #fff;
}
/* 掌上百联 */
.hand {
  width: 310px;
  left: 84%;
  margin-left: -214px;
  border: 1px solid #e2e2e2;
  display: none;
}
.hand-left,
.hand-right {
  float: left;
  margin-left: 8px;
  width: 141px;
  text-align: center;
  padding: 20px 0 4px;
}

/* 搜索栏 */
.head {
  width: 100%;
  height: 90px;
  background-color: #fff;
}
.head-layout {
  width: 1200px;
  height: 90px;
  /* border: 1px solid red; */
  margin: 0 auto;
  position: relative;
}
.head-logo {
  position: absolute;
  left: 0px;
  top: 0px;
}
.head-logo > img:last-child {
  margin-left: 20px;
}
.head-layout .search {
  position: absolute;
  left: 490px;
  top: 9px;
  width: 450px;
  height: 80px;
  /* border: 1px solid red; */
}
.search input {
  width: 340px;
  height: 50px;
  outline: red solid 2px;
}
.search button {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 54px;
  background: url(images/download.png) no-repeat -2px 12px;
  background-color: red;
}
.head-layout .ok-card {
  position: absolute;
  right: 81px;
  top: 19px;
  width: 120px;
  height: 33px;
  line-height: 33px;
  border: 1px solid #d7d7d7;
}
.head-layout .ok-card > a {
  color: #919191;
}
.head-layout .ok-card:hover {
  border-color: red;
}
.head-layout .ok-card:hover a {
  color: red;
}
.head-layout .head-search-list {
  position: absolute;
  top: 63px;
  left: 485px;
  width: 490px;
  height: 28px;
  line-height: 28px;
}
.head-layout .head-search-list a {
  color: #919191;
}
.head-layout .head-search-list a:hover {
  color: red;
  text-decoration: underline red;
}
/* 所有商品分类 */
.nav {
  width: 100%;
  height: 45px;
  background-color: #fff;
}
.nav-layout {
  position: relative;
  z-index: 10;
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.nav-layout .nav-left {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  background-color: #000;
}
.nav-layout .nav-left a {
  color: #fff;
}
.nav-left ul {
  position: absolute;
  top: 40px;
  left: 2px;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.nav-left ul li a:hover {
  text-decoration: underline #fff;
}
.nav-left ul > li > i {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.nav-left ul li .jinkou {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px 1px;
}
.nav-left ul li .shengxian {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -30px;
}
.nav-left ul li .shipin {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -60px;
}
.nav-left ul li .huli {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -90px;
}
.nav-left ul li .lengdong {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -180px;
}
.nav-left ul li .sanc {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -270px;
}
.nav-left ul li .jiadian {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -300px;
}
.nav-left ul li .muying {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -120px;
}
.nav-left ul li .yiliao {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -360px;
}
.nav-left ul li .jiaju {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -150px;
}
.nav-left ul li .fuzhuang {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -210px;
}
.nav-left ul li .xiangbao {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -240px;
}
.nav-left ul li .qiche {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -330px;
}
.nav-left ul li .cardbook {
  background: url(images/nav-v3-icon-1.png) no-repeat 0px -390px;
}
/* 二级导航 */
.nav-left ul > li > .er-nav {
  position: absolute;
  left: 180px;
  top: 3px;
  width: 998px;
  height: 540px;
  /* 隐藏 */
  display: none;
  padding: 8px;
  border: 1px solid red;
  background-color: #fff;
  overflow: hidden;
}
 .nav-left ul > li:hover .er-nav{
  /* 显示 */
  display: block;
 }  
.nav-left ul > li > .er-nav a{
  color: #666;
}
.er-nav-right {
  width: 240px;
  height: 422px;
  float: right;
}
.er-nav-left {
  height: 422px;
  width: 725px;
  margin: 10px 0 0 5px;
  line-height: 23px;
  position: relative;
}
.er-nav-left .one{
  height: 56px;
}
.er-nav-left .two{
  height: 32px;
}
.er-nav-left  span>a{
  display:inline-block;
  position: absolute;
  font-size: 14px;
  left: 15px;
  width: 90px;
  font-weight: 700;
}
.er-nav-leftlist {
  display: inline-block;
  width: 620px;
  position: absolute;
  left: 99px;
}
.er-nav-leftlist > a {
  margin-right: 16px;
  font-size: 12px;
  line-height: 23px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #f3f3f3;
  color: #666;
  display: inline-block;
}
/* 商品列表右侧 */
.nav-right {
  position: absolute;
  top: 3px;
  left: 190px;
  line-height: 35px;
  height: 35px;
}
.nav-right > ul > li > a {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
.nav-right > ul > li > a:hover {
  color: red;
}
.nav-right > ul > li {
  float: left;
  padding: 0 18px;
}
/* 大背景 */
.banner {
  width: 100%;
  height: 558px;
  background-color: #11b5b4;
}
.banner-layout {
  width: 1200px;
  height: 558px;
  margin: 0 auto;
  /* border: 1px solid red; */
  background: url(images/背景图片.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
.banner-right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 295px;
  height: 420px;
  background: #fff;
}
.banner-right-head {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 295px;
  height: 118px;
  border-bottom: 1px solid #eee;
  z-index: 5;
}
.banner-right-head .head-font {
  position: absolute;
  top: 10px;
  left: 104px;
  width: 130px;
  height: 40px;
}
.banner-right-head .head-font a:hover {
  color: red;
  text-decoration: underline red;
}
.new-gift {
  /* width: 200px; */
  margin-top: 10px;
}
.new-gift a {
  width: 290px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  color: #ff6f6f;
  border: 1px solid #ff6f6f;
  border-radius: 1px;
}
.new-gift a:hover {
  background: #ff6f6f;
  color: #fff;
  border-color: #ff6f6f;
}
.banner-right-center {
  height: 110px;
  position: absolute;
  top: 120px;
  left: 2px;
}
.banner-right-center > a {
  position: absolute;
  right: -65px;
  color: #666;
}
.banner-right-center > a:hover {
  color: red;
  text-decoration: underline red;
}
.banner-right-center dl > dd {
  width: 215px;
  margin-left: 5px;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner-right-center dl > dd > a {
  color: #666;
}
.banner-right-center dl > dd > a:hover {
  color: red;
  text-decoration: underline red;
}
.banner-right-center dl > dd > a > span {
  margin-right: 6px;
  font-weight: 700;
}
.banner-right-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 293px;
  height: 182px;
  /* border: 1px solid red; */
}
.banner-right-bottom > ul > li {
  width: 94px;
  float: left;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: center;
  padding-top: 7px;
  height: 53px;
}
.banner-right-bottom > ul > li > a {
  color: #666;
}
.banner-right-bottom > ul > li > a:hover {
  color: red;
}
.bottom-icon {
  margin-left: 22px;
  width: 23px;
  height: 29px;
}
.bottom-icon1 {
  background: url(images/life_i1.png) no-repeat -9px 0px;
}
.bottom-icon2 {
  background: url(images/life_iz1.png) no-repeat -10px 0px;
}
.bottom-icon3 {
  background: url(images/life_i4.png) no-repeat -10px 0px;
}
.bottom-icon4 {
  background: url(images/life_iz2.png) no-repeat -10px 0px;
}
.bottom-icon5 {
  background: url(images/life_iz3.png) no-repeat -10px 0px;
}
.bottom-icon6 {
  background: url(images/life_iz4.png) no-repeat -10px 0px;
}
.bottom-icon7 {
  background: url(images/life_i3.png) no-repeat -10px 0px;
}
.bottom-icon8 {
  background: url(images/life_i6.png) no-repeat -10px 0px;
}
.bottom-icon9 {
  background: url(images/life_i9.png) no-repeat -10px 0px;
}
/* 超值团 */
.supper {
  width: 100%;
  height: 250px;
  padding: 20px 0;
  background: #fff;
  overflow: hidden;
}
.supper-layout {
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.supper-layout-left {
  float: left;
}
.supper-layout-right {
  width: 965px;
  height: 248px;
  border: 1px solid #e4e4e4;
  float: right;
  border-left: none;
  overflow: hidden;
  position: relative;
}
.supper-layout-right > ul {
  height: 227px;
  padding: 11px 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  /* border: 1px solid red; */
}
.supper-layout-right > ul > li {
  width: 158px;
  height: 227px;
  float: left;
  border-right: 1px dashed #e4e4e4;
  position: relative;
}
.supper-layout-right > ul > li img {
  margin-left: 10px;
}
.supper-font > a {
  color: #666;
}
.supper-font > a:hover {
  text-decoration: underline;
}
.supper-layout-right > ul > li p {
  font-size: 14px;
  line-height: 24px;
}
.supper-price > a {
  color: red;
}
.supper-layout-right > ul > li .supper-price > a > p {
  font-size: 20px;
}
.supper-layout-right > ul > li .cankao {
  color: #666;
}
/* 点击图片有放大效果 */
.supper-layout-left > a > img:hover {
  transform: scale(1.1);
}
/* 点击图片有放大效果 */
.supper-layout-right > ul > li > a > img:hover {
  transform: scale(1.1);
}
/* 精品闪购 */
.shancun {
  width: 1200px;
  height: 370px;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
  /* border: 1px solid red; */
}
.shancun .shancun-l {
  height: 370px;
  float: left;
}
.shancun .shancun-r {
  width: 900px;
  height: 370px;
  float: left;
  /* border: 1px solid red; */
}
.shancun .shancun-r > li {
  width: 285px;
  height: 180px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
.shancun-l > a > img:hover {
  /* 点击图片会放大 */
  transform: scale(1.1);
}
.shancun-r > li > a > img:hover {
  /* 点击图片会放大 */
  transform: scale(1.1);
}
/* 猜你喜欢 */
.guesslike {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  box-sizing: border-box;
}
.back{
  display: inline-block;
  position: relative;
  right: 58px;
  bottom: -70px;
  width: 50px;
  height: 50px;
  background: url(images/bantop.png) no-repeat 0px 0px;
}
.guesslike > .guesslike-title {
  text-align: center;
  height: 30px;
  background: url(images/guess_bg.jpg) repeat-x 0 center;
}
.guesslike > .guesslike-title > img {
  /* 图片和文字对齐 */
  vertical-align: middle;
}
.guesslike > .guesslike-title > i {
  font-size: 21px;
  background-color: #fff;
  font-style: normal;
}
.guesslike > .guesslike-title > i > span {
  font-size: 16px;
}
.guesslike > .guesslike-title > p {
  position: relative;
  right: -530px;
}
.guesslike > .guesslike-title > p > a {
  color: red;
}
/* 商品展示 */
.guesslike > ol > li {
  float: left;
  height: 320px;
  width: 220px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 25px 10px 20px 0px;
  padding: 2px;
}
.guesslike > ol > li:hover {
  box-shadow: 0px 0px 6px #ccc;
}
.guesslike > ol > li > .collect-img,
.guesslike > ol > li>.collect {
  color: #666;
  text-align: justify;
  font-size: 14px;
}
.guesslike > ol > li > .collect-img:hover {
  text-decoration: underline;
}
.guesslike > ol > li .collect > a {
  display: inline-block;
  width: 72px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: url(images/collect-love.jpg) no-repeat 7px 4px;
  border: 1px solid #919191;
  border-radius: 10px;
  color: #666;
  margin-left: 30px;
}
.collect-child3{
  height: 34px;
}
.guesslike > ol > li .collect > a:hover {
  color: red;
}
.guesslike > ol > li .collect {
  margin-top: 28px;
}
.guesslike > ol > li .collect1 {
  margin-top: 50px;
}
.guesslike > ol > li .collect > span {
  font-size: 25px;
  color: red;
}
/* 底部 */
.bottom{
  width: 100%;
  margin-top: 10px;
  background-color: #e2e2e2;
}
.bottom .bottom-layout{
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  /* border: 1px solid red; */
  overflow: hidden;
}
.bottom-list1{
    float: left;
    width: 210px;
}
.bottom-list11{
  margin-left: 93px;
}
.bottom-list1 .new-door{
  height: 50px;
  width: 150px;
    line-height: 50px;
    color: #000;
}
.bottom-list1>ul{
margin-left: 55px;
    font-size: 13px;
    line-height: 2;
}
.bottom-list1>ul>li a{
  color: #000;
}
.bottom-list1>ul>li a:hover{
  color: red;
  text-decoration: underline red;
}
.bottom-list1 .new-door .div{
  display: inline-block;
  width: 41px;
  height: 41px;
  background: url(images/bottom-list.png) no-repeat 0 0;
}
.bottom-list1 .new-door .div2{
  background: url(images/bottom-list.png) no-repeat 0 -38px;
}
.bottom-list1 .new-door .div3{
  background: url(images/bottom-list.png) no-repeat 0 -79px;
}
.bottom-list1 .new-door .div4{
  background: url(images/bottom-list.png) no-repeat 0 -119px;
}
.bottom-list1 .new-door .div5{
  background: url(images/bottom-list.png) no-repeat 0 -159px;
}
/* 底部图片 */
.bottom-layout>ul{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  overflow: hidden;
  
}
.bottom-layout>ul>li{
  float: left;
}
.bottom-layout>ul>li:nth-child(2){
  margin: 0 12px;
}
/* 关于我们 */
.bottom-layout>ol{
  width: 692px;
  margin: 0 auto;
  overflow: hidden;
}
.bottom-layout>ol>li{
  float: left;
}
.bottom-layout>ol>li>a{
  font-size: 14px;
  color: #000;
 margin: 0px 20px;
}
.bottom-layout>ol>li>a:hover{
  color: red;
}
.bottom-layout>ol>li>span{
  color: #919191;
}
.bottom-layout>dl{
  width: 666px;
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden;
}
.bottom-layout>dl>dd{
  float: left;
  font-size: 14px;
  color: #919191;
}
.bottom-layout>dl>dd>a{
  color: #919191;
 margin: 0px 20px;
}
.bottom-layout .bottom-dd{
  color: #000;
}
.bottom-layout .bottom-dd:hover{
  color: red;
}
.bottom-layout>.p1{
  width: 700px;
  
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 2px 0px;
}
.bottom-layout>.p1>a{
  color: #666;
}
.bottom-layout>.bottom-icon{
  width: 560px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}
.bottom-layout>.bottom-icon>a{
  color: #919191;
}
